*{
    padding: 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
}


/* nav section  */

.nav-section{
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0,0.04);
}
.logo{
    display: flex;
    align-items: center;


}
.logo > img{
    width: 65px;
    margin-right: 10px;
}
.nav-title{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;    
}


.nav-title > span{
    color: #ff42a5;
}
.nav-section > ul{
    display: flex;
    align-items: center;

}
.nav-items{
    list-style: none;

}
.nav-items > a{
    text-decoration: none;
    margin-right: 20px;
    color: #3C354F;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;    
}

.nav-btn{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
}

.nav-btn > .youtube{
    color: red;
    margin:0px;
    font-size: 22px;
    position: relative;
    bottom: -1px;

}
.nav-btn .img{
    width: 22px;
    position: relative;
    bottom: -2px;
}



/* banner section  */

.banner-container{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.banner-content{
    padding: 125px 80px 120px 150px;
     background: url(images/Group\ 14.png);
    background-position:right;
     background-repeat: no-repeat;
     background-size: cover;
}
.banner-title{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-head{
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-description{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 10px;
}

.banner-btn1{
    margin-top: 10px;
    border: none;
    padding: 13px 30px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background:#FF42A5;
    margin-right: 15px;
}

.banner-btn2{
    margin-top: 20px;
    border: none;
    padding: 13px 30px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: #4EC5F7;
    
   
}

.banner-img >img{
    position: relative;
    bottom: -55px;
    width: 500px;
    margin-right: 100px;
}
   /* gamer section  */
   .gamer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 75px 100px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
   }

   .gamer-img > img{
        width: 100%;
        
   }

   .gamer-content{
    text-align: right;
    
   }

   .gamer-title{
    text-align: right;
    font-family: Work Sans;
    font-size: 42px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    margin-bottom: 10px;  
   }
   .gamer-description{
   width: 450px;
   color: #534C64;
   text-align: right;
   font-family: Work Sans;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px; 
   }

   .gamer-btn{
    margin-top: 10px;
    border: none;
    padding: 13px 30px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background:#FF42A5;
    margin-bottom: 15px;
   }
   .gamer-info > span{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
   }
   .gamer-info{
    color: #534C64;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
   }

   /* online games section   */



.online-game-title{
    text-align: center;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 42px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 15px;
}

.online-game-title > span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;   
}
.online-games-description{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}

.online-game-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 100px;
    
}
.games-items{
    position: relative;
    width: 250px;
    height: 350px;

}
.games-items:hover .text{
    visibility: visible;
    
}
.games-img{
    width: 250px;
    height: 300px;   
}
.games-img img{
    width: 250px;
    height: 300px; 
    object-fit:cover right;    
}

.text{
    border-radius: 10px;
    font-size:12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 244px;
    height: 294px;
    opacity: .8;
    background-color: #0B0223;
    border:3px solid #ff42a5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    visibility: hidden;


}

.text h3 {
    margin-bottom: 1rem;
    color: #ffffff;
}
.text h3 i{
    font-size: 50px;
}

.text h4 {
    
    font-family: Work Sans;
    font-weight: 100px;
    color:#FF42A5;
}

.game-info{
    margin-top: 5px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;  
}

/* play-instantly section  */
.play-instantly-container{
 display: flex;
 align-items: center;
 justify-content: space-around;
 padding-bottom: 220px;
}
.play-instantly-title{
    text-align: right;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    width: 400px;
}
.play-instantly-title >span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
.play-instanly-dsecription{
    
    text-align: right;
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 400px;
}
.play-instantly-img{
    width: 500px;
    height: 510px;
    position:relative;

}

.play-img{
    width: 220PX;
    position: absolute;
    bottom: -120px;
    left: -140px;
    
}

.play-img1{
    width: 500px;
    height: 530px;
    position: absolute;
    
}


/* different games section  */


.different-games-container{
background: linear-gradient(90deg, rgba(255, 66, 165, 0.08) 0%, rgba(255, 66, 165, 0.06) 100%);
}
.different-games-items{
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 120px;
    justify-content: center;
    align-items: center;
}
.items{
    margin-left: 30px; 
    margin-bottom: 30px;
    width: 190px;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
}
.items:hover{
    border: 2px solid #ff42a5;
}
.items:hover h4{
    color: #ff42a5;
}
.items img{
    width: 40px;
}
.items > h4{
    margin-left: 10px;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 13px;
    font-weight: 600;    
}







/* footer section  */

footer{
    padding: 100px 100px 100px 100px;
    background: rgb(11, 2, 35);
}

.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;


}
.footer-logo > img{
    width: 75px;
    margin-right: 10px;
}
.footer-title{
    color: #ffffff;
    font-family: Work Sans;
    font-size: 50px;
    font-weight: 700;    
}


.footer-title > span{
    color: #ff42a5;
}


.footer-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
}
.footer-list > li{
    list-style: none;
    color: #ffffff;
    

}
.social-link {
    width: 260px;
    height: 30px;
    margin: 30px auto;
    text-align: center;
    display: flex;
}
.social-link li{
    list-style: none;
}
.social-link li > a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 24px;
}


#facebook{
    color:  #3b5998 ;
}

#twitter{
    color: #00acee;
}

#instragram{
    
    color: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#linkedin{
    padding: 2px;
    background-color: #4EC5F7;
    color: white;
}

#apple{
    color: #fff;
}  

#youtube{
    color: red;
}

.footer-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
.footer-info >p{
    color: rgba(255, 255, 255, 0.60);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 500;   
}
.copyright > p{
    margin-top: 20px;
color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 11px;
font-weight: 500;

}





















/* media query styles */

@media screen and (max-width:597px){
 /* nav section  */
    .nav-section{
        flex-direction: column;
        padding: 0px;
        box-shadow: none;
    }
    .logo{
        display: flex;
        align-items: center;
        margin: 0px auto;
        margin-top: 60px;
    
    }
    .logo > img{
        width: 45px;
        margin-right: 10px;
    }
    .nav-title{
        color: #0B0223;
        font-family: Work Sans;
        font-size: 30px;
        font-weight: 700;    
    }
    
    
    .nav-title > span{
        color: #ff42a5;
    }
    .nav-section > ul{
        flex-direction: column;
    
    }
     .nav-items {
        margin-bottom: 15px;
        margin-top: 15px;
     }
    .nav-items > a{
        font-size: 14px;   
    }
    
    .nav-btn{
        color: #3C354F;
        font-size: 14px;
        font-weight: 500;
        padding: 7px 15px;
        margin-bottom: 30px;
    }
    
    .nav-btn > .youtube{
        color: red;
        margin:0px 0px;
        font-size: 14px;
    
    }
    .nav-btn .img{
        margin-top: 4px;
       width: 14px;  
    }
    

 /* banner section  */

 .banner-container{
    flex-direction: column-reverse;
   }
   
   .banner-content{
        width:250px;
        padding: 20px 50px;
        background: url(images/Group\ 14.png);
        background-position:right;
        text-align:center;
        background-repeat: no-repeat;
   }
   .banner-title{
       font-size: 20px;
   }
   
   .banner-head{
       font-size: 40px;
   }
   
   .banner-description{
       font-size: 10px;
       text-align: left;
       margin-left: 52px;
   }

.banner-btn1{
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 28px;
    margin-right: 10px;
}

.banner-btn2{
    margin-top: 10px;
    border: none;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 28px;
    
   
}
   
   .banner-img >img{
       width: 250px;
       position: relative;
       bottom:0px;
       margin-right:0px;
   }
   

   /* gamer section   */

   .gamer-container{
    flex-direction: column;
    padding: 10px;
   }

   .gamer-img > img{
        width: 100%;
        
   }

   .gamer-content{
    text-align: center;
    
   }

   .gamer-title{
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;  
   }
   .gamer-description{
    text-align: center;
   width: 350px;
   font-size: 14px; 
   }

   .gamer-btn{
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 28px;
    margin-bottom: 20px;
   }
   .gamer-info > span{
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
   }
   .gamer-info{
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 50px;
   }

/* online games section   */



.online-game-title{
    font-size: 25px;
    margin-bottom: 5px;
}

.online-game-title > span{
   
    font-size: 26px;  
}
.online-games-description{
    font-size: 14px;
    margin-bottom: 40px;
}
.online-game-container{
    flex-direction: column;
    justify-content: center;
}

.games-items{
    margin: 0px auto;
}
.game-info{
    color: #534C64;
    font-family: Work Sans;
    font-size: 10px;
    font-weight: 500;  
}


/* play-instantly section  */
.play-instantly-container{
    flex-direction: column;
    padding-bottom: 10px;
   }
   .play-instantly-title{
       text-align: center;
       font-size:25px;
       line-height: 30px;
       width: 200px;
       margin: 10px auto;
   }
 
   .play-instanly-dsecription{
       
       text-align: center;
       font-size: 14px;
       line-height: 20px;
       margin-bottom: 20PX;
   }
   .play-instantly-img{
       width: 300px;
       height: 310px;
       position:relative;
   
   }
   
   .play-img{
       width: 180PX;
       position: absolute;
       bottom: -80px;
       left: -110px;
       
   }
   
   .play-img1{
       width: 300px;
       height: 330px;
       position: absolute;
       
   }
   
   /* different games section  */


.different-games-container{ 
    padding: 20px 0px ;
    margin-top: 100px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.08) 0%, rgba(255, 66, 165, 0.06) 100%);
    }
    .different-games-items{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .items{
        margin-left: 15px; 
        margin-bottom: 15px;
        width: 100px;
        padding: 5px;
    }
    
   
    .items img{
        width: 25px;
    }
    .items > h4{
        font-size: 10px;   
    }
    
   


/* footer section  */

footer{
    padding: 100px 100px 100px 100px;
    background: rgb(11, 2, 35);
}

.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;


}
.footer-logo > img{
    width: 65px;
}
.footer-title{
    font-size: 40px;   
}





.footer-list{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.footer-list li{
    font-size: 12px;
}

.social-link {
    width: 160px;
    height: 100px;
    margin: 30px auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3 ,3fr);
}
.social-link li{
    list-style: none; 
}
.social-link li > a{
    text-decoration: none;
    font-size: 24px;
}



#facebook , #twitter , #instragram , #linkedin , #youtube , #apple{
    margin-bottom: 40px;
}

.footer-info{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    

}


}




@media screen and (min-device-width: 598px)
    and (max-device-width: 1024px) {
        .nav-section{
            flex-direction: column;
            padding: 0px;
            box-shadow: none;
        }
        .logo{
            display: flex;
            align-items: center;
            margin: 0px auto;
            margin-top: 60px;
        
        }
        .logo > img{
            width: 65px;
            margin-right: 10px;
        }
        .nav-title{
            color: #0B0223;
            font-family: Work Sans;
            font-size: 45px;
            font-weight: 700;    
        }
        
        
        .nav-title > span{
            color: #ff42a5;
        }
        .nav-section > ul{
            flex-direction: column;
        
        }
         .nav-items {
            margin-bottom: 15px;
            margin-top: 15px;
         }
        .nav-items > a{
            font-size: 18px;   
        }
        
        .nav-btn{
            color: #3C354F;
            font-size: 18px;
            font-weight: 500;
            padding: 7px 15px;
            margin-bottom: 30px;
            align-items: center;
        }
        
        .nav-btn > .youtube{
            color: red;
            margin:5px 0px;
            margin-left: 3px;
            font-size: 22px;
            
            position: relative;
            bottom: -2px;
            
        
        }
        .nav-btn > .img{
            position: relative;
            bottom: -3px;
            width: 20px;  
        }
        
    

 /* banner section  */

 .banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
   }
   
   .banner-content{
        width:300px;
        padding: 20px 50px;
        background: url(images/Group\ 14.png);
        background-position:right;
        background-repeat: no-repeat;
   }
   .banner-title{
       font-size: 25px;
   }
   
   .banner-head{
       font-size: 50px;
       margin-bottom: 10px;
   }
   
   .banner-description{
       font-size: 14px;
   }

.banner-btn1{
    padding: 9px 20px;
    font-size: 14px;
}

.banner-btn2{
    padding: 9px 20px;;
    font-size: 14px;
    
   
}
   
   .banner-img >img{
       width: 270px;
       position: relative;
       bottom:-11px;
       margin-right:0px;
   }
   

   /* gamer section   */

   .gamer-container{
    flex-direction: column;
    padding: 10px;
   }

   .gamer-img > img{
        width: 100%;
        
   }

   .gamer-content{
    text-align: center;
    
   }

   .gamer-title{
    font-size: 45px;
    text-align: center;
    margin-bottom: 10px;  
   }
   .gamer-description{
    text-align: center;
   width: 650px;
   font-size: 16px; 
   }

   .gamer-btn{
    margin-top: 10px;
    padding: 9px 20px;
    font-size: 14px;
   }
   .gamer-info > span{
    color: #534C64;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 500;
   }
   .gamer-info{
    color: #534C64;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 50px;
   }

/* online games section   */



.online-game-title{
    font-size: 45px;
    margin-bottom: 5px;
}

.online-game-title > span{
    font-size: 46px;  
}
.online-games-description{
    font-size: 18px;
    margin-bottom: 40px;
}
.online-game-container{
    width: 550px;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    margin: 0px auto;
}

.games-items{
    margin-bottom: 0px;
}
.game-info{
    color: #534C64;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;  
}


/* play-instantly section  */
.play-instantly-container{
    flex-direction: column;
    padding-bottom: 10px;
   }
   .play-instantly-title{
       padding: 0px;
       text-align: center;
       font-size:45px;
       width: 350px;
       line-height: 50px;
       margin: 20px auto;
   }
 
   .play-instanly-dsecription{
       
       text-align: center;
       font-size: 18px;
       line-height: 20px;
       margin-bottom: 40PX;
   }
   .play-instantly-img{
       width: 300px;
       height: 310px;
       position:relative;
   
   }
   
   .play-img{
       width: 180PX;
       position: absolute;
       bottom: -80px;
       left: -110px;
       
   }
   
   .play-img1{
       width: 300px;
       height: 330px;
       position: absolute;
       
   }
   
   /* different games section  */


.different-games-container{ 
    padding: 20px 0px ;
    margin-top: 120px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.08) 0%, rgba(255, 66, 165, 0.06) 100%);
    }
    .different-games-items{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .items{
        margin-left: 15px; 
        margin-bottom: 15px;
        width: 190px;
        padding: 5px;
    }
    
   
    .items img{
        width: 35px;
    }
    .items > h4{
        font-size: 14px;   
    }
    
   


/* footer section  */

footer{
    padding: 100px 50px 100px 50px;
    background: rgb(11, 2, 35);
}

.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;


}
.footer-logo > img{
    width: 65px;
}
.footer-title{
    font-size: 45px;   
}





.footer-list{
    display: flex;
    flex-wrap: wrap;
    
}

.social-link {
    width: 260px;
    height: 35px;
    margin: 30px auto;
    text-align: center;
}
.social-link li{
    list-style: none; 
}
.social-link li > a{
    text-decoration: none;
    font-size: 24px;
}



#facebook , #twitter , #instragram , #linkedin , #youtube , #apple{
    margin-bottom: 40px;
}

.footer-info{
    text-align: center;
    display:flex;

}






}